
@font-face {
    font-family: 'rasbernbold';
    src: url('../fonts/rasbern-bold-webfont.eot');
    src: url('../fonts/rasbern-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rasbern-bold-webfont.woff2') format('woff2'),
         url('../fonts/rasbern-bold-webfont.woff') format('woff'),
         url('../fonts/rasbern-bold-webfont.ttf') format('truetype'),
         url('../fonts/rasbern-bold-webfont.svg#rasbernbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rasbernmedium';
    src: url('../fonts/rasbern-medium-webfont.eot');
    src: url('../fonts/rasbern-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rasbern-medium-webfont.woff2') format('woff2'),
         url('../fonts/rasbern-medium-webfont.woff') format('woff'),
         url('../fonts/rasbern-medium-webfont.ttf') format('truetype'),
         url('../fonts/rasbern-medium-webfont.svg#rasbernmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'rasbernregular';
    src: url('../fonts/rasbern-regular-webfont.eot');
    src: url('../fonts/rasbern-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rasbern-regular-webfont.woff2') format('woff2'),
         url('../fonts/rasbern-regular-webfont.woff') format('woff'),
         url('../fonts/rasbern-regular-webfont.ttf') format('truetype'),
         url('../fonts/rasbern-regular-webfont.svg#rasbernregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rasbernitalic';
    src: url('../fonts/rasbern-italic-webfont.eot');
    src: url('../fonts/rasbern-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rasbern-italic-webfont.woff2') format('woff2'),
         url('../fonts/rasbern-italic-webfont.woff') format('woff'),
         url('../fonts/rasbern-italic-webfont.ttf') format('truetype'),
         url('../fonts/rasbern-italic-webfont.svg#rasbernitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'tt_medium';
    src: url('../fonts/ttcommons-medium-webfont.eot');
    src: url('../fonts/ttcommons-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttcommons-medium-webfont.woff2') format('woff2'),
         url('../fonts/ttcommons-medium-webfont.woff') format('woff'),
         url('../fonts/ttcommons-medium-webfont.ttf') format('truetype'),
         url('../fonts/ttcommons-medium-webfont.svg#tt_commonsmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'tt_regular';
    src: url('../fonts/ttcommons-regular-webfont.eot');
    src: url('../fonts/ttcommons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttcommons-regular-webfont.woff2') format('woff2'),
         url('../fonts/ttcommons-regular-webfont.woff') format('woff'),
         url('../fonts/ttcommons-regular-webfont.ttf') format('truetype'),
         url('../fonts/ttcommons-regular-webfont.svg#tt_commonsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tt_light';
    src: url('../fonts/ttcommons-light-webfont.eot');
    src: url('../fonts/ttcommons-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttcommons-light-webfont.woff2') format('woff2'),
         url('../fonts/ttcommons-light-webfont.woff') format('woff'),
         url('../fonts/ttcommons-light-webfont.ttf') format('truetype'),
         url('../fonts/ttcommons-light-webfont.svg#tt_commonslight') format('svg');
    font-weight: normal;
    font-style: normal;

}