* {
    text-align: center;
    /*border: 1px orange dashed;*/
}

/*body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/backgroundDorado.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
}*/

.fecha,
.ceremonia,
.recepcion,
.acceso,
.codigoVestimenta,
.confirmacion,
.mesaRegalos,
.gratitud,
.exit {
    margin: 0 5% 0 5%;
    /*border: 1px orange dashed;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.frase,
.day,
.direccion,
.texto,
.frase,
.bancoLista,
.muchas,
.gracias {
    color: #B4B5B8;
}

.hora,
.titulo {
    color: #CBCCCD;
}



/* ---------------------------------
--------- BASE INFORMACIÓN ---------
-----------------------------------*/

.icono {
    height: 16vw;
    margin-bottom: 1.5rem;
}

.titulo {
    letter-spacing: .25rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.frase {
    line-height: 1.2;
}

.frase,
.date,
.lugar,
.pax,
.vestimenta,
.muchas,
.gracias {
    font-family: 'rasbernmedium';
}

/*. {
    font-family: 'rasbernregular';
}*/

.hora,
.texto,
.quote {
    font-family: 'rasbernitalic';
}

.hora {margin: 1rem 0;}

.colonia,
.ciudad {
    margin-top: .25rem;
    font-family: 'tt_light', sans-serif;
}

.direccion {
    font-family: 'tt_regular', sans-serif;
}

.colonia {}
.ciudad {}

.contenedorBoton {
    width: 100%;
}

.boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    border-radius: .5rem;
    font-family: 'tt_medium', sans-serif;
    text-align: center;
    color: var(--negro);
    border: 0;
    //Gradient Gold
    //background-image: radial-gradient(circle at 63.38% 86.77%,  rgba(245,203,134,1) 0%, rgba(116,89,54,1) 100%);
    //Gradient Silver
    //background: rgb(46,46,46);
    //background: linear-gradient(120deg, rgba(46,46,46,1) 0%, rgba(168,169,173,1) 15%, rgba(215,215,216,1) 23%, rgba(168,169,173,1) 44%, rgba(255,255,255,1) 65%, rgba(111,108,108,1) 88%, rgba(75,75,80,1) 100%);
    background-color: #e0e0e0;
    position: relative;

    //overflow: hidden;
    background: linear-gradient(120deg, rgba(168,169,173,1) 0%, rgb(90, 90, 94) 25%, rgba(168,169,173,1) 50%, rgba(255,255,255,1) 75%, rgba(111,108,108,1) 100%);
    //background-size: 400% 400%;
    //animation: moveBackground 16s infinite alternate ease-in-out;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

/* ------------------------------------
--------- D E S G L O S A D O ---------
------------------------------------ */


/* ---------- INTRO ----------*/

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .imagenXimena {
        width: 100%;
        height: 70vh;
        background-image: url(../images/xinemaBack.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;

    }

    .logo {
        height: 30vh;
        margin: 0 5% 0% 5%;
    }
}

/* ---------- INTRO ----------*/

.fecha {
    height: 60vh;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/

    .frase {
        letter-spacing: .25rem;
        margin-bottom: .8rem;
    }

    .titulo {
        margin-bottom: 2rem;
    }

    .day {
        letter-spacing: .25rem;
        font-family: 'TT_light';
    }

    .linea { 
        width: 100%;
        height: 3px;
        background: orange;
        margin: 8px 0 8px 0;
        //gold
        //background: rgb(116,89,54);
        //background: linear-gradient(90deg, rgba(116,89,54,1) 0%, rgba(245,203,134,1) 65%, rgba(116,89,54,1) 100%);
        // silver
        background: rgb(46,46,46);
        background: linear-gradient(140deg, rgba(46,46,46,1) 0%, rgba(168,169,173,1) 15%, rgba(215,215,216,1) 23%, rgb(76, 77, 79) 44%, rgba(255,255,255,1) 65%, rgba(111,108,108,1) 88%, rgba(75,75,80,1) 100%);    
    }

    .date {
        margin: 6px 0 2px 0;
        font-family: 'rasbernmedium';
        letter-spacing: .3rem;
    }

    .year {
        margin: .5rem 0 0 0;
        letter-spacing: .25rem;
        font-family: 'TT_light';
    }
}

/* ---------- CEREMONIA ----------*/

.ceremonia {
    min-height: 80vh;

    .inter {
        margin-top: 3rem;
    }
}

/* ---------- RECEPCIÓN ----------*/

.recepcion {
    min-height: 80vh;
}

/* ---------- ACCESO ----------*/
.acceso {
    min-height: 100vh;


    .pax {
        margin: 1rem 0;
    }

    div:nth-child(7) {
        margin: 2rem 0 0 0;
    }
}

/* ---------- VESTIMENTA ----------*/
.codigoVestimenta {
    min-height: 40vh;
}

/* ---------- REGALOS ----------*/
.mesaRegalos {
    min-height: 90vh;
    
    .frase {
        font-family: 'rasbernregular';
        line-height: 110%;
        margin-bottom: 2rem;
    }

    .liverpool,
    .datosBancaria {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        width: 100%;
        
        .h4 { 
            margin-bottom: .25rem;
            font-family: 'tt_regular', sans-serif;
            letter-spacing: .10rem;
        }
        .boton {
            margin: 0;
        }
        
        .bancoLista { 
            list-style: none;
            padding: 0;
            display: none;
            margin: 2rem 0 0 0;
            opacity: 0;
            transition: display 1s ease-in-out;
        }

        .visible {
            display: block;
            opacity: 1;
        }
    }
    
}

/* ---------- GRATITUD ----------*/
.gratitud {
    min-height: 40vh;
    
    
    .agradecimiento {
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: 50% 50%;
        width: 100%;
        margin-top: 2rem;

        .muchas{
            text-align: left;
            grid-column: 1/9;
            grid-row: 1/2;
        }

        .gracias{
            text-align: right;
            grid-column: 2/11;
            grid-row: 2/3;
        }
    }
}

/* ---------- EXIT ----------*/
.exit {
    height: 10vh;
}
