<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="description" content="Kalollero Marrö.ön")
		meta(name="keywords" content="Kalollero Marrö.ön")
		meta(name="author" content="Kalollero Marrö.ön")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		//Facebook and Twitter
		meta(property="og:title" content="Kalollero Marro.on")
		meta(property="og:image" content="")
		meta(property="og:url" content="")
		meta(property="og:site_name" content="Kalollero Marro.on")
		meta(property="og:description" content="Kalollero Marro.on")
		meta(name="twitter:title" content="Kalollero Marro.on")
		meta(name="twitter:image" content="")
		meta(name="twitter:url" content="")
		meta(property="og:site_name" content="Kalollero Marro.on")
		meta(property="twitter:description" content="Kalollero Marro.on")


		//
			//////////////////////////////////////////////////////

			Kalollero Marro.on ~ 
			Diseño y Desarrollo by kalollero Marro.on 

			Website:    https://kalollero.github.io/PortFolio-Desing/
			Email:      valaraukar.balrogs@gmail.com
			Facebook:   https://www.facebook.com/

			//////////////////////////////////////////////////////

		title Kalollero Marro.on | PortaFolio
		
		//Icono Pestaña
			link(rel="icon" type="image/png" href="images/icon.png")
		
		//Icon Font
		link(href="font/styles.css" rel="stylesheet")
		
		//Poppins Font
		link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
		
		//Open Sand
		link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet")
		
		//Normalize 
		link(rel="stylesheet" href="css/normalize.css")

		//Agora Style
		link(rel="stylesheet" href="css/portaFolio-style.css")

	body
		
		//Portada
		header#portada.portada
			div.portada__contenedor
				
				div.portada__navMenu 
					div.portada__logo Kalóllero Marro.on

					//div.portada__menu
						div.menu__sobreMi Sobre Mi
						div.menu__portafolio Portafolio
						div.menu__contacto Contacto
				
				div.portada__contenido
					div.portada__titulo
						div.portada__titulo-UI UI & UX,
						div.portada__titulo-webDesign Web Design
						div.portada__titulo-packaging & Packaging

					div.portada__texto Loco, Gitano & Soñador, con estudios en Imagen y Diseño; un publicista art nouvo de épocas contemporáneas, experto en vampiras moderna ...Bienvenid@.

		//Contacto
		section#contacto.contacto
			div.contacto__frase
				div.contacto__idea Tienes una idea...
				div.contacto__cuentame Cuentame de ella
			
			div.contacto__texto
				
				div.contacto__datos
					div.contacto__medioCorreo
						a(href="mailto:kali.rso@hotmail.com") kali.rso@hotmail.com

					div.contacto__medioDireccion 
						p Avenida Adolfo Ruíz Cortínez 1621
						p Colonia Francisco Ferrer Guardia
						p Xalapa&#126;Enríquez &middot México

					div.contacto__medioMovil
						a(href="tel:2281285663") +52 22 81 28 56 63

				div.contacto__redes
					div.contacto__medioFacebook
						a(target="_blank")(href="https://www.facebook.com/kalolleromarro.on") Facebook

					div.contacto__medioInstagram
						a(target="_blank")(href="https://www.instagram.com/kalolleromarro.on") Instagram

					div.contacto__medioFreelancer
						a(target="_blank")(href="https://www.freelancer.es/u/kalolleroMarroon") Freelancer

					div.contacto__medioSkype
						a(target="_blank")(href="https://join.skype.com/invite/w3DGkqljedsY") Skype