doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Invitación')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    
        //Facebook and Twitter
        meta(property="og:title" content="")
        meta(property="og:image" content="https://ximena-fifteen-years.vercel.app/images/ximenaXV.jpg")
        meta(property="og:description" content="")
        meta(name="twitter:title" content="")
        meta(name="twitter:image" content="https://ximena-fifteen-years.vercel.app/images/ximenaXV.jpg")
        meta(property="twitter:description" content="")

        //
            //////////////////////////////////////////////////////

            Kalollero Marro.on ~ 
            Diseño y Desarrollo by Kalollero Marro.on 

            Email:      valaraukar.balrogs@gmail.com
            Instagram:  @kalolleromarro.on

            //////////////////////////////////////////////////////

        title Ximena XV Años

        //Icono Pestaña
        link(rel="icon" type="image/ico" href="../images/ximena.ico")

        //Icon Font
        //link(href="font/styles.css" rel="stylesheet")

        //Poppins Font
        //link(href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")
     
        //Normalize 
        link(rel="stylesheet", href="css/normalize.css")
        
        //Tipografias
        link(rel="stylesheet", href="css/stylesheet.css")

        //Agora Style
        link(rel='stylesheet', href='css/styles.css')

        //script(type='text/javascript').
      
    body
        div.intro
            div.fondoLogo
            img.logo.imagen-fluida(src="images/logo.svg", alt="")
            
        div.fecha
            div.h2.frase Estás Invitado
            div.h6.titulo
                | TE ESPERO PARA CELEBRAR
                br
                | JUNTOS EL DÍA:
            div.h4.day SÁBADO
            div.linea
            div.h2.date 18 · NOVIEMBRE
            div.linea
            div.h4.year DOS MIL VEINTITRÉS 
        
        div.ceremonia 
            img.imagen-fluida.icono(src="images/ceremonia.svg", alt="")
            div.h6.titulo CEREMONIA
            div.h1.lugar 
                | Parroquia de
                br
                | Nuestra Señora
                br
                | de la Paz
            div.h2.hora 19:00 hrs.
            div.h3.direccion Paseo de las Palmas no. 1 
            div.h6.colonia Jardines de las Ánimas. Xalapa, Veracruz.
            div.h6.ciudad
            div.contenedorBoton
                a.h5.boton(href="https://maps.app.goo.gl/oG8Hjzp4qWqMH21v5", target="_blank") M A P A
            div.h6.titulo.inter
                | DESPUÉS DE LA
                br
                | CEREMONIA RELIGIOSA,
                br
                | AGRADECERÍA TU 
                br
                | PRESENCIA EN:


        div.recepcion
            img.imagen-fluida.icono(src="images/recepcion.svg", alt="")
            div.h6.titulo RECEPCIÓN
            div.h1.lugar
                | Salón
                br
                | Ghal “A”
            div.h3.hora 20:00 hrs.
            div.h3.direccion Avenida Xalapa no. 247
            div.h6.colonia Col. Rafael Lucio. · Xalapa, Veracruz.
            div.h5.ciudad
            div.h5.contenedorBoton
                a.boton(href="https://maps.app.goo.gl/FGZCmKZTtNG7bQam6", target="_blank") M A P A
        
        div.acceso
            img.imagen-fluida.icono(src="images/acceso.svg", alt="")
            div.h6.titulo ACCESO
            div.h6.titulo
                | COMPARTE
                br
                | CONMIGO ESTE
                br
                | DÍA INOLVIDABLE.
            div.h2.texto He reservado
            div.h1.pax
                | 1 lugar
            div.h2.texto para ti.
            div.h6.titulo
                | ES MUY IMPORTANTE
                br
                | PARA MI QUE CONFIRMES
                br
                | TU ASISTENCIA.
            div.h5.contenedorBoton
                a.boton(href="https://wa.me/522281161639?text=Hola%20Ximena,%20te%20escribo%20para%20confirmar%20mi%20asistencia.", target="_blank") CONFIRMAR ASISTENCIA
           

        div.codigoVestimenta
            img.imagen-fluida.icono(src="images/vestimenta.svg", alt="")
            div.h6.titulo CÓDIGO DE VESTIMENTA
            div.h1.vestimenta Formal de Noche

        div.mesaRegalos
            img.imagen-fluida.icono(src="images/regalo.svg", alt="")
            div.h6.titulo MESA DE REGALOS
            div.h3.frase
                | Mi mejor regalo es
                br
                | tu presencia, si
                br
                | además quisieras
                br 
                | hacerme un obsequio
                br
                | lo aprecio con 
                br
                | agradecimiento.
            div.liverpool
                div.h4 LIVERPOOL 
                div.h5.contenedorBoton
                    a.boton(href="https://mesaderegalos.liverpool.mx/LP/51308331/Ximena_", target="_blank", rel="noopener noreferrer") 51308331
            //div.datosBancaria
                div.h4 BBVA 
                div.contenedorBoton
                    button.h5.boton#toggleBtn DATOS BANCARIOS
                    ul.bancoLista
                        li.h4.banco CUENTA · 0808080808
                        li.h4.banco CLABE · 08080808
                        li.h4.banco TARJETA · 0808080808

        div.gratitud 
            div.h2.quote
                | Los mejores
                br
                | momentos de la
                br
                | vida merencen ser
                br 
                | compartidos.
            div.agradecimiento
                div.h1.muchas ¡Gracias por
                div.h1.gracias Acompañarme!

        div.exit
            //img.logo.imagen-fluida(src="images/logo.svg", alt="")
        
        //script(src='js/script.js')
